// TODO refactor => dossier par components, puis fichiers par type de variable
//      ex.: ./config/header/_color.scss
//config/color
$primary: #ce4141; //
$primary-hover:#9b2626;
$white:#ffffff;
$hover-footer:#db8282;
$color-nav:#f4f4f4;
$gray-layer:#666;
//typo
$font-light:300;
$font-bold:700;
//header

//components/header

//components/layer

//common
$layer-padding-top-sm: 4rem;

//activities
$activities-margin-top:1.2rem;
//

// footer

//color
$footer-gray: #212121;
$footer-border-gray: #a8a8a8;

//spacing
$footer-padding: 2.5rem;
$footer-padding-menu: 1rem;

//font-size
$font-size: 1rem;
$small-font-size: .8rem;
$xsmall-font-size: .5rem;

//padding
$padding-bottom-section: 1rem;
$padding-bottom-section-md: 1.5rem;
$padding-bottom-section-lg: 2.5rem;

