.main-footer{
    background-color: $color_block_palet2;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;

    .link{
        margin-bottom: 20px;

        a{
            font-size: 2rem;
        }
    }

    .sociaux{
        display: flex;
        align-items: center;
        justify-content: center;

        li{
            margin-right:30px;

            &:last-child{
                margin-right: 0px;
            }

            i{
                font-size: 3rem;
            }
        }
    }

    .legal-wrapper{
        margin-top: 20px;
    }

    #footer-menu{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li:first-child::after{
            content: "\00a0|\00a0";
        }
    }
}