.woocommerce-cart-form{
    .product-quantity{
        display: none;
        
    }

    .product-name{
        &>p{
            font-weight: 1.8rem;
            margin-bottom: 0;
        }
        .metas{
            p{
                font-weight: 1.4rem;
                margin-bottom: 0;
                
            }
        }
    }

    button[name="update_cart"]{
        border: 2px solid var(--wp--preset--color--color-1);
    }
}
table.shop_table_responsive tr:nth-child(2n+1) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n+1) td {
    background: #fff;
    filter: none;
}

.button.wc-backward{
    float: none!important;
}
.woocommerce-order{
    
}