.woocommerce-account #main {
    .woocommerce {
        padding-top: 9em;
        padding-bottom: 9em;
        .woocommerce-MyAccount-navigation{
            .woocommerce-MyAccount-navigation-link {
                margin-bottom: 0em!important;
            }
        }
        
    }
}