.entry-header{
  display:none;
}
@include breakpoint(xxlarge){
  .home-layer {
    @include xy-grid;
    position: relative;

    .home-layer-image-wrapper {
      @include xy-cell(7);
      margin-left: 0;
    }

    .home-layer-content-wrapper {
      @include xy-cell(5);
      @include vertical-center;
      left: 57%;
      padding: 0;

      p {
        font-size: 1rem;
      }
    }
  }
  //inversement du contenu
  .home-layer:nth-child(2n) {
    .home-layer-content-wrapper {
      left: 3%;
    }
    .home-layer-image-wrapper {
      @include xy-cell-offset(6, $grid-margin-gutters, 0, 0, false);
      margin-right: 0;
    }
  }
}
