.team-description{
  padding:6rem 0 6rem 0;
  background-color:$gray-layer;
  color:white;
}
.team-title{
  text-align:center;
}
.team-quote{
  text-align:center;
  width:80%;
  margin:0 auto;
  line-height:2rem;
}
@include breakpoint(large){
  .team-description{
    padding:15rem 0 15rem 0;
  }

  .team-quote{
    font-size:1.5rem;
    line-height:3rem;
    width:90%;
  }
}