.footer-contact {
  @include xy-grid();

  .widget_ninja_forms_widget {
    margin-bottom: 2rem;

    &_media_image {
      padding-bottom: $padding-bottom-section-lg;
    }
  }

  h3 {
    font-weight: bold;
    text-align: center;
    padding-top:1rem;
  }
}

.nf-error-msg {
  display: none;
}

//conteneur formulaire
.widget_ninja_forms_widget {
  width: 80%;
  margin: 0 auto;
}

.nf-field-element {
  .ninja-forms-field {
    padding: .3rem;
  }
}

//height zone message
.textarea-wrap .nf-element {
  height: 6em;

}

.nf-form-fields-required{
  color:#e80000;
}

.nf-form-fields-required {
  font-size: .7rem;
}

.nf-field .field-wrap .nf-field-label {
  margin-bottom: 0.5rem;
}
nf-field:first-child{
  label{
    margin-top: 1rem;
  }
}


nf-field:last-child .ninja-forms-field.nf-element  {
  @include button(false, $primary, $gray-layer, white, solid);
  margin-bottom:0;
}

@include breakpoint(xxlarge) {
  .nf-form-cont{
    margin-left:2rem;
  }
  .widget_media_image {
    @include xy-cell(8);
    margin-left: 0;
  }
  .textarea-wrap .nf-element{
    width:80%;
  }

  .widget_ninja_forms_widget {
    @include xy-cell(4);
    position: relative;
  }
  textarea{
    width:70%;
  }

  .nf-form-cont {
    @include vertical-center;
    width: 100%;
  }

  .footer-contact {
    h3 {
      text-align: left;
      margin-top: 1rem;
      margin-bottom: .5rem;
    }

    label {
      font-size: .8rem;
    }



    .widget_media_image {
      padding-bottom: 0;
    }

    .nf-field-container {
      margin-bottom: 1rem;
    }
  }

  .textbox-wrap, .email-wrap {
    width: 50%;
  }
}

@include breakpoint(xxlarge) {
  .widget_media_image {
    @include xy-cell(7);
    margin-left: 0;
  }

  .widget_ninja_forms_widget {
    @include xy-cell(5);
  }
}
