.contact-info {
  a {
    color: $white;
  }

  &, &-name {
    font-size: .8rem;
  }

  &-name {
    margin-bottom: 1rem;
  }

  &-address, &-phone {
    margin-bottom: 0;
  }
}

.social-navigation {
  margin-bottom: 0;
}

@include breakpoint(medium) {
  .footer-contact-info {
    position: relative;
  }

  .contact-info {
    &, &-name {
      font-size: .6rem;
    }

    &-phone {
      padding-top: .5rem;
    }
  }
}

@include breakpoint(large) {
  .contact-info {
    &, &-name {
      font-size: $small-font-size;
    }
  }
}
