#main.inscriptions-template{
    --fc-small-font-size:1em;
    --fc-today-bg-color:rgba(206, 65, 65,0.1);
    &>.content{
        padding-bottom: 9rem;
        padding-top: 9rem;
    }
    
    h2{
        font-size: 36px;
        font-weight: 500;
    }

    #calendrier_camps{

        h2.fc-toolbar-title{
            margin-bottom: 0;
            font-size: 3rem;
            font-weight: 400;
            text-transform: capitalize;
        }
        
        .fc-button-group{
            button {
                background-color: $color_block_palet1;
                border-color: $color_block_palet1;
                span.fc-icon {
                    font-size: 1.8rem;
                }
                &:hover{
                    background-color: lighten($color_block_palet1,10%); 
                }
            }
        }
        .fc-daygrid-event{
            border-radius:0.75em;
            .fc-event-main{
                
                padding:0.7em 0.4em;
                .fc-content-flex{
                    display: flex;
                    // justify-content: space-between;
                    flex-wrap: wrap;
                    .btn{
                        margin-left: 0.3em;
                        padding:0.3em;
                        border:1px solid #fff;
                        border-radius:0.5em;
                    }
                    i {
                        padding-left: 0.3em;
                        overflow: hidden;
                        width: 0;
                        transition: width 0.25s;
                        margin-left: 0.3em;
                        vertical-align: middle;
                    }
                    :last-child{
                        margin-left: auto;
                    }
              
                }
                &:hover{
                    .fc-content-flex i {
                        width: 1.3em;
                    }
                }
            }
        }
        
        
    }
    p.note-calendrier {
        padding-top: 2rem;
        font-size: 1.6rem;
        strong{
            text-transform: inherit;
            
        }
    }
   
}

.fc .fc-button{
    border-radius: 0.75em;
}