.header {
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}
.header-title{
  color:white;
}
.header-branding {
  @include vertical-center;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;

}

.header-title a, .header-subtitle,.header-title {
  color: white;
  text-shadow: .5px .5px black;
}
@include breakpoint(medium down){
  .header-branding{
    top:57%;
  }
}
@include breakpoint(medium) {
  .header {
    height: 60vh;
  }


}

@include breakpoint(large) {
  .header {
    height: 70vh;
  }



  .header-title {
    font-size: 2.5rem;
    color:white;
  }

  .header-subtitle {
    font-size: 1rem;
  }
}

@include breakpoint(xxlarge) {
  .header {
    height: 80vh;
  }



  .header-title {
    font-size: 3rem;
  }

  .header-subtitle {
    font-size: 1.5rem;
  }
}
