.header-menu {
  @include top-bar-container;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.current-menu-item {
  opacity: .5;
}

//logo
.custom-logo-link .custom-logo {
  height:50px;
  margin: 1rem 0;
}
.header-menu-wrapper .header-menu {
  background-color: $color-nav;
}

.menu-top-menu-container .menu {
  background-color: $color-nav;
}

//burger nav
@include breakpoint(medium down) {

  .header-menu {
    padding: 0 1.5rem;
  }
  //nav
  .header-menu-right {
    .burger-menu {
      @include hamburger($primary, $primary, 1.7em, 1.5em, 0.2em, 3);
    }
    .menu.burger-close {
      display: block;
    }

    .menu {
      position: absolute;
      top: 82px; // TODO semble très arbitraire // C'est la hauteur du header puisque qu'il est fixed ?
      left: 0;
      right: 0;
      background-color: $primary;
      height: 16em;
      padding-left: 1rem;
      display: none;

      .menu-item {
        padding-top: 1rem;
        border-bottom: 1px solid $white;
      }

      a {
        color: $white;
        font-size: 1.5rem;

        &:hover {
          opacity: .5;
        }
      }
    }

    .active.menu {
      display: block;
    }
  }


}

// nav desktop
@include breakpoint(large) {
  .header-menu {
    padding: 0 2rem;
  }

  .header-menu-right {
    .menu {
      @include clearfix;
      color: $primary;
      margin-bottom: 0;
    }

    .active {
      display: none;
    }

    .menu-item {
      float: left;
      padding-right: 2rem;
      margin: 1.3rem 0;
    }

    a:hover {
      color: $primary;
    }
  }

  .header-menu-left {
    .custom-logo {
      max-height: 3rem;
    }
  }
}



