.section {
  padding-top: $layer-padding-top-sm;
}

.home-layer-title {
  text-align: center;
  font-weight: bold;
}

.home-layer {
  //@include xy-cell-offset(6, $grid-margin-gutters, 0, 0, true);
}

.home-layer-content {
  //@include xy-cell-offset(-6, $grid-margin-gutters, 0, 0, false);
}

.home-layer-content-wrapper {
  padding: 3rem 0 3rem 0;
  width: 90%;
  margin: 0 auto;
  .home-layer-title {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
  }
  .home-layer-see-more-link {
    font-style: italic;
    position: relative;
    margin-left: 14px;
    color: $gray-layer;
    &:before {
      content: "";
      @include css-triangle(0.4em, $gray-layer, right);
      position: absolute;
      left: -1em;
      bottom: 0.15em;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.section-about-us {
  display: none;
}

@include breakpoint(large) {
  .section-layers {
    .home-layer {
      @include xy-grid;
      position: relative;

      .home-layer-image-wrapper {
        @include xy-cell(7);
        margin-left: 0;
      }

      .home-layer-content-wrapper {
        @include xy-cell(5);
        @include vertical-center;
        left: 57%;
        padding: 0;

        p {
          font-size: 1rem;
        }
      }
    }
    //inversement du contenu
    .home-layer:nth-child(2n) {
      .home-layer-content-wrapper {
        left: 3%;
      }
      .home-layer-image-wrapper {
        @include xy-cell-offset(6, $grid-margin-gutters, 0, 0, false);
        margin-right: 0;
      }
    }
  }
}

@include breakpoint(xlarge) {
  .section-layers{
    .home-layer {
      .home-layer-content-wrapper {
        @include xy-cell(5);
        .home-layer-title {
          font-size: 1.7rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }

}