.section-info{
  width:90%;
  margin:0 auto;
}
.home-activities-title.activity-single{
  padding-top:6rem;
}
.list-wrapper{
  @include xy-grid;
  @include xy-grid-container;

}
.list-wrapper{
  margin:2rem 0rem 4rem 1rem;
}
.list-element{
  position:relative;
  &:first-child{}
  &:before {
    content: "";
    @include css-triangle(0.4em, $gray-layer, right);
    position: absolute;
    left: -1em;
    top: 1.85em;
  }
}
.list-field{
  margin-top:1.5rem;

}
@include breakpoint(xlarge){
  .section-info{
    margin-bottom:10rem;
    margin-top: 2rem;
  }
  .list-wrapper{
    margin:0 auto;
  }
  .list-element{
    @include xy-cell(6);
  }


}